<div class="titulo-pagina">
  Pesquisas Detalhadas »
</div>
<br />

<style>
ul {list-style-type:none}
</style>

<%= form_tag [:pesquisas_detalhadas, :entidade, :relatorios], method: :get, class: 'form-inline' do %>
  <div class="input-append">
    <%= text_field_tag 'pesquisa[data_inicial]', params[:pesquisa][:data_inicial], placeholder: 'Data Inicial', class: 'input-small' %>
    <%= text_field_tag 'pesquisa[data_final]', params[:pesquisa][:data_final], placeholder: 'Data Final', class: 'input-small' %>
    <%= select_tag 'pesquisa[checklist_id]', options_for_select(Checklist.retorna_checklist_para_select(current_unidade.id),:selected=>(params[:pesquisa][:checklist_id] rescue nil)), class: 'input-xxlarge' %>
    <%= button_tag 'Pesquisar', class: 'btn', data: { disable_with: 'Pesquisando...' } %>
  </div>
<% end %>
<br />


<%if !@checklist.blank? && !@data_inicial.blank? && !@data_final.blank?%>
<center>
  <h3>Totais</h3>
   <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {packages:['gauge']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Número de Pesquisas', <%=@auditorias.length%>],
          ['Média Geral', <%= @numero_de_conformidades.to_s.gsub(".",",")%>],
          
        ]);

        var options = {
          width: 400, height: 300,
          redFrom: 90, redTo: 100,
          yellowFrom:75, yellowTo: 90,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div_relogio'));
        chart.draw(data, options);
      }
    </script>
    
    <div id='chart_div_relogio'></div>
  </center>
<ul>
  <%total_sim_geral = 0 %>
  <%total_nao_geral = 0 %>
  <%@checklist.item_checklists.where("item_checklist_id IS NULL").each do |item_checklist| %>
    <li><h3><b><%=item_checklist.nome%></b></h3></li>
    <li>
      <ul>
          <%ItemChecklist.where("item_checklist_id = ? ",item_checklist.id).each do |subcategoria| %>
            <li><h4><b><%=subcategoria.nome%></b></h4></li>
            <li>
              <ul>

                <%subcategoria.item_verificacaos.where("situacao = ?",ItemVerificacao::ATIVO).each do |questao| %>
                  <li><i><%=questao.titulo%></i></li>
                  <li>
                    <table  class="table table-striped table-condensed">
                      <thead>
                        <tr>
                          <th>Identificador da Auditoria</th>
                          <th>Data Pesquisa</th>
                          <th>Cliente</th>
                          <th>Nota (0-10)(Média de qualidade 7)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%numero_respostas = 0 %>
                        <%nota = 0 %>
                        <%Resposta.joins(:auditoria).where("respostas.item_verificacao_id = ? AND DATE(auditorias.created_at) BETWEEN ? AND ? ",questao.id,@data_inicial.to_date,@data_final.to_date).each do |resposta| %>
                          <tr>
                            <td><%=resposta.auditoria.id%></td>
                            <td><%=resposta.auditoria.created_at.strftime("%d/%m/%Y") rescue nil%></td>
                            <td><%=resposta.auditoria.cliente.nome rescue nil%></td>
                            <td><%=resposta.resposta_verbose%></td>
                            <% nota += resposta.resposta_verbose.to_i%>
                            <% numero_respostas+=1%>

                          </tr>
                        <%end%>
                      </tbody>
                      

                      <tfoot>
                       <%media = ((nota/numero_respostas.to_f).round(2))%>
                        <tr>
                          <th>Média Aritimética da Avaliação</th>
                          <th></th>
                          <th>
                            <%if media > 7%>
                             <%= image_tag 'check.png',:width=>"40"%>
                            <%else%>
                             <%= image_tag 'destroy.png',:width=>"40"%>
                            <%end%>
                          </th>
                          <th>
                            <%=media%>
                          </th>
                        </tr>
                      </tfoot>

                    </table>

                  </li>
                <%end%>
              </ul>
            </li>
          <%end%>
      </ul>
  </li>
  <%end%>
</ul>
<center>

<!--   <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Total Conformidades</th>
        <th>Total Não Conformidades</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td><%=total_sim_geral %></td>
        <td><%=total_nao_geral %></td>
      </tr>
    </tbody>
  </table> -->
</center>
<%else%>
<p><b>Nenhum registro encontrado com estes parâmetros! Lembre-se o preenchimento de TODOS os campos de pesquisa é obrigatório!</b></p>
<%end%>



 

<script type="text/javascript">
  $("#pesquisa_data_inicial").datepicker();
  $("#pesquisa_data_final").datepicker();
  $("#pesquisa_data_inicial").mask("99/99/9999");
  $("#pesquisa_data_final").mask("99/99/9999");
</script>
