<div id="flash_messages">
  <% if flash[:notice] %>
    <div class="alert alert-success">
     	<button type="button" class="close" data-dismiss="alert">×</button>
    	<%= flash[:notice] %>
  	</div>
  <% end %>

  <% if flash[:error] %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
    	<%= flash[:error] %>
  	</div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
    	<%= flash[:alert] %>
  	</div>
	<% end %>
</div>

<% unless administracao_usuario_signed_in? %>
  <% if @retorno.first %>
    <%= link_to edit_entidade_auditoria_path(@retorno.last.unidade.entidade, @retorno.last, respondendo: 1), method: :get do %>
      <%= image_tag 'logo_panambra_pos_vendas.png', id: 'imgpos' %>
      <%= image_tag 'texto_pesquisa_inicial.png', id: 'txtposinicio' %>
    <% end %>
  <% else %>
    <%= image_tag 'logo_atendimento.png', id: 'imgpos' %>
    <div class="aguardando_pesquisa"></div>
<!-- 
          AGUARDANDO LIBERAÇÃO DE PESQUISA
          <br /><br />
          <div id="loading_aguardando_pesquisa" class="progress progress-striped active">
            <div class="bar" style="width: 100%;" ></div>
          </div>
        </div>    
 -->
    <script type="text/javascript">
      jQuery(function($) {
        setInterval('window.location.reload()', 5000);
      });
    </script>
  <% end %>
<% end %>
