<%= form_for [:entidade, @usuario], html: { class: 'form-horizontal' } do |f| %>
  <%= error_messages(@usuario) %>

  <div class="field control-group">
    <%= f.label :tipo, class: 'control-label' %>
    <div class="controls">
      <%= f.select :tipo, Usuario.retorna_tipo_para_select,{:include_blank=>true} %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :nome, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :nome, class: 'input-xlarge', maxlength: 255 %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :email, class: 'control-label' %>
    <div class="controls">
      <%= f.email_field :email, class: 'input-xlarge', maxlength: 255 %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :login, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :login, class: 'input-xlarge', maxlength: 255 %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :password, class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, class: 'input-xlarge', maxlength: 255 %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :password_confirmation, class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, class: 'input-xlarge', maxlength: 255 %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :ramal, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :ramal, class: 'input-medium numeric', maxlength: 10 %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :telefone, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :telefone, class: 'input-medium phone', maxlength: 20 %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :celular, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :celular, class: 'input-medium phone', maxlength: 20 %>
    </div>
  </div>

  <div id="perfil" class="field control-group">
    <%= f.label :perfil, class: 'control-label' %>
    <div class="controls">
      <%= f.select :perfil_id, Perfil.retorna_perfil_para_select(current_unidade.entidade.id),{:include_blank=>true} %>
    </div>
  </div>

  <div class="actions form-actions">
    <%= f.submit 'Salvar', class: 'btn btn-inverse', data: { disable_with: 'Salvando...' } %>
    <% if current_user.permitted_to?(:usuarios, :index) %>
      <%= link_to 'Cancelar', [:entidade, :usuarios], class: 'btn' %>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {
    $("#usuario_tipo").change(function(){
      desenha_view_usuario();
    });
  });
  desenha_view_usuario();
</script>
