<div class="titulo-pagina">
  Detalhes - Usuário »
</div>

<dl class="dl-horizontal">
  <%= show_unless_blank('Tipo', @usuario.tipo_verbose) %>
  <%= show_unless_blank('Nome', @usuario.nome) %>
  <%= show_unless_blank('Login', @usuario.login) %>
  <%= show_unless_blank('E-mail', @usuario.email) %>
  <%= show_unless_blank('Ramal', @usuario.ramal) %>
  <%= show_unless_blank('Telefone', @usuario.telefone) %>
  <%= show_unless_blank('Celular', @usuario.celular) %>
  <%= show_unless_blank('Situação', @usuario.situacao_verbose) %>
</dl>

<div class="actions form-actions well">
  <% if current_user.permitted_to?(:usuarios, :edit) %>
    <%= link_to 'Alterar', [:edit, :entidade, @usuario], class: 'btn btn-inverse' %>
  <% end %>
  <% if current_user.permitted_to?(:usuarios, :index) %>
    <%= link_to 'Voltar', [:entidade, :usuarios], class: 'btn' %>
  <% end %>
</div>
