<div class="titulo-pagina">
  Não Conformidades »
</div>
<br />

<% if @nao_conformidades.any? %>
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Data</th>
        <th>Responsável</th>
        <th>Cliente</th>
        <th>Ordem</th>
        <th>Questão</th>
        <th>Status</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <tbody>
      <% @nao_conformidades.each do |objeto| %>
        <tr>
          <td><%= objeto.data.strftime('%d/%m/%Y') %></td>
          <td><%= objeto.usuario.nome rescue nil %></td>          
          <td><%= objeto.cliente.nome rescue nil %></td>
          <td><%= objeto.numero_ordem %></td>
          <td><%= objeto.item_verificacao.titulo rescue nil %> </td>
          <td><%= objeto.status_verbose %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <strong>Sem registros para exibir!</strong>
<% end %>

<%= paginate @nao_conformidades %>


