<p>
	Você foi adicionado para um novo compromisso. Seguem os dados abaixo:
	<br /><br />
	<b>Título:</b> <%= @agenda.titulo %>
	<br />

	<b>Data:</b> <%= @agenda.data.to_date %>
	<br />

	<b>Responsável:</b> <%= @agenda.usuario.nome %>
	<br />

	<b>Tipo:</b> <%= @agenda.tipo_compromisso.nome %>
	
	<br />
	<b>Descrição:</b> <%= @agenda.descricao %>
	<br />

	<b>Hora de início:</b> <%= @agenda.hora_inicio_verbose %>
	<br />

	<b>Hora de fim:</b> <%= @agenda.hora_fim_verbose %>
	<br />
</p>
<br />
