<div class="step-pane <%= 'active' if numero == 1 %>" id="step<%= numero %>">
  <label for="item_verificacao_<%= item_verificacao.id %>" class="pergunta">
    <b><%= numero %>)</b>
    <%= item_verificacao.titulo %>
  </label>
  <br /><br />
  <div class="btn-group" data-toggle="buttons-radio" id="respostas_<%= item_verificacao.id %>">
    <% item_verificacao.alternativas.order(:id).each do |alternativa| %>
      <button id="botao_<%= item_verificacao.id %>_<%= alternativa.id %>"
              data-id="<%= alternativa.id %>" type="button" class="botoes-radio botoes-redondos btn"
              data-status="<%= (alternativa.titulo.downcase == 'sim' ? 1 : 0) %>">
        <%= (alternativa.arquivo.blank? ? (alternativa.titulo.upcase) : (image_tag(alternativa.arquivo))) %>
      </button>
      <%= hidden_field_tag "respostas[#{item_verificacao.id}][#{alternativa.id}]", nil %>
    <% end %>
  </div>
</div>
