<div class="step-pane <%= 'active' if numero == 1 %>" id="step<%= numero %>">
  <label for="item_verificacao_<%= item_verificacao.id %>" class="pergunta">
    <b><%= numero %>)</b>
    <%= item_verificacao.titulo %>
  </label>

  <div class="btn-group" data-toggle="buttons-radio" id="respostas_<%= item_verificacao.id %>">
    <% item_verificacao.alternativas.order(:id).each do |alternativa| %>
      <!-- <label for='<%#= "respostas_#{item_verificacao.id}_#{alternativa.id}" %>' class="resposta"> -->
        <!-- <br /><br /> -->
        <%#= radio_button_tag "respostas[#{item_verificacao.id}]",
                             alternativa.id,
                             (params['respostas'].present? ? params['respostas']["#{item_verificacao.id}"].to_i : nil),
                             class: 'btn btn-primary' %>
        <%#= alternativa.titulo %>
      <!-- </label> -->
      <button id="botao_<%= item_verificacao.id %>_<%= alternativa.id %>"
              data-id="<%= alternativa.id %>" type="button"
              class="botoes-radio btn <%= (alternativa.titulo.downcase == 'sim' ? 'btn-primary' : 'btn-danger') %>"
              data-status="<%= (alternativa.titulo.downcase == 'sim' ? 1 : 0) %>">
        <%= (alternativa.titulo.downcase == 'sim' ? 'SIM' : 'NÃO') %>
      </button>
      <%= hidden_field_tag "respostas[#{item_verificacao.id}][#{alternativa.id}]", nil %>
    <% end %>
  </div>
</div>
