<div class="titulo-auditoria">
  <b><%= @auditoria.checklist.nome %> »</b>
</div>
<br /><br /><br /><br /><br /><br />

<div id="mensagens" class="alert alert-error" style="display:none"></div>

<div class="formulario-auditoria">
  <%= form_for [:entidade, @auditoria], remote: true do |f| %>
  	<% @auditoria.carrega_itens_checklist.each_with_index do |item_checklist, index| %>
  		<%= monta_checklist_de_auditoria(item_checklist, index) %>
  	<% end %>

    <%= f.submit 'FINALIZAR', class: 'btn btn-inverse finalizar', data: { disable_with: 'Salvando...' } %>
    <% if current_user.present? && current_user.permitted_to?(:auditorias, :index) %>
      <%= link_to 'Cancelar', [:entidade, :auditorias], class: 'btn' %>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  jQuery(function($) {
    <% if params[:respondendo].present? %>
      $('body').addClass('layout-auditoria');
      $('.btn-group').remove();
      $('.footer').remove();
    <% end %>
  });
</script>
