<div id="mensagens" class="alert alert-error" style="display:none"></div>
<%= image_tag 'logo_pos_vendas_questoes.png', id: 'img_logo' %>

<div id="questao_css">
  <div class="fuelux">
    <div id="audit-wizard" class="wizard">
      <ul class="steps">
        <% tamanho_checklist = 0 %>
        <% @auditoria.carrega_itens_checklist.each do |item_checklist| %>
          <% item_checklist.item_verificacaos
                           .where(situacao: ItemVerificacao::ATIVO)
                           .each {|item_verificacao| tamanho_checklist += 1} %>
        <% end %>

        <% tamanho_checklist.times do |indice| %>
          <li data-target="#step<%= indice + 1 %>" class="<%= 'active' if indice == 0 %>" style="display:none">
            <span class="badge badge-info"><%= indice + 1 %></span>
            <span class="chevron"></span>
          </li>
        <% end %>
        <li data-target="#step999" style="display:none"></li>
      </ul>
      <div class="actions-auditoria">
        <button type="button" class="botoes-prev-next btn btn-prev">
          RETORNAR
        </button>
        <button type="button" id="avancar" class="botoes-prev-next btn btn-next" data-last="CONFIRMAR PESQUISA">
          AVANÇAR
        </button>
      </div>
    </div>

    <div class="step-content">
      <div class="formulario-auditoria">
        <%= form_for [:entidade, @auditoria], remote: true do |f| %>
          <%= hidden_field_tag :ordem, params[:ordem] %>
          <% index = 1 %>
          <% @auditoria.carrega_itens_checklist.each do |item_checklist| %>
            <% item_checklist.item_verificacaos
                             .where(situacao: ItemVerificacao::ATIVO)
                             .each do |item_verificacao| %>
              <%= monta_checklist_de_auditoria(item_verificacao, index) %>
              <% index += 1 %>
            <% end %>    
          <% end %>
        <% end %>
      </div>

      <div class="step-pane" id="step999">
        <%= render 'finalizacao' %>
      </div>

      <!-- <div class="step-pane" id="step<%#= tamanho_checklist + 1 %>"> -->
        <%#= render 'finalizacao' %>
      <!-- </div> -->
    </div>
  </div>
</div>

<script type="text/javascript">
  jQuery(function($) {



    $('body').addClass('layout-auditoria');
    trava_tela();

    $('.dropdown').remove();
    $('.footer').remove();
    $('.btn-next').click(function() {
      trava_tela();
      var item = $('#audit-wizard').wizard('selectedItem');
      if(item.step == <%= tamanho_checklist %>) {
        $('#img_logo').remove();
        $('.actions-auditoria').hide();
      }
      $('#fundo_auditoria').click();
    });
    $('.botoes-radio').click(function() {
      // $('#audit-wizard').wizard('next');
        var $submit = $("#avancar");
        $submit.removeAttr("disabled");
      var botao_id = $(this).attr('id');
      var alternativa_id = $(this).attr('id').split('_')[2];
      var hidden_id = botao_id.replace('botao', 'respostas');
      var resposta = hidden_id.split('_')[0] + '_' + hidden_id.split('_')[1];
      var pai_id = $('#' + resposta).attr('id');
      $('#' + pai_id).find('input[type=hidden]').each(function() {
        $(this).val('');
      });
      $('#' + hidden_id).val(alternativa_id);
      
    });
     
    
    $('#fundo_auditoria').mousemove(function() {

      var item = $('#audit-wizard').wizard('selectedItem');
      if(item.step == <%= tamanho_checklist %>) {
        $('#avancar').text('CONFIRMAR PESQUISA');
      }
    });
  });
</script>
