<div class="titulo-auditoria">
  <b><%= @auditoria.checklist.nome %> »</b>
</div>
<br /><br /><br /><br /><br /><br />

<div id="mensagens" class="alert alert-error" style="display:none"></div>

<div class="formulario-auditoria">
  <%= form_for [:entidade, @auditoria], remote: true do |f| %>
    <% index = 1 %>
  	<% @auditoria.carrega_itens_checklist.each do |item_checklist| %>
      <% item_checklist.item_verificacaos.each do |item_verificacao| %>
  		  <%= monta_checklist_de_auditoria(item_verificacao, index) %>
        <% index += 1 %>
      <% end %>    
  	<% end %>

    <%= f.submit 'FINALIZAR', class: 'btn btn-inverse finalizar', data: { disable_with: 'FINALIZANDO A PESQUISA...' } %>
    <% if current_user.present? && current_user.permitted_to?(:auditorias, :index) %>
      <%= link_to 'Cancelar', [:entidade, :auditorias], class: 'btn' %>
    <% end %>
  <% end %>
</div>

<div id="loading" class="modal hide fade" data-show="false" >
  <div class="modal-body">
    <%= image_tag "big-loader.gif" %>
    <br />
    <p>Processando, aguarde!</p>
  </div>
</div>

<script type="text/javascript">
  jQuery(function($) {
    $('body').addClass('layout-auditoria');
    $('.dropdown').remove();
    $('.footer').remove();

    $('.finalizar').click(function() {
      $('#loading').modal('toggle');  
    });

    $('.botoes-radio').click(function() {
      var botao_id = $(this).attr('id');
      var alternativa_id = $(this).attr('id').split('_')[2];
      var hidden_id = botao_id.replace('botao', 'respostas');
      var resposta = hidden_id.split('_')[0] + '_' + hidden_id.split('_')[1];
      var pai_id = $('#' + resposta).attr('id');
      $('#' + pai_id).find('input[type=hidden]').each(function() {
        $(this).val('');
      });
      $('#' + hidden_id).val(alternativa_id);
   });
  });
</script>
