<div class="titulo-pagina">
  Liberar Pesquisa »
</div>
<br />

<%= form_for [:entidade, @auditoria], html: { class: 'form-horizontal' } do |f| %>

	<%= error_messages(@auditoria) %>

  <div class="field control-group">
    <%= label_tag :cpf_cnpj, 'CPF/CNPJ do Cliente', class: 'control-label' %>
    <div class="controls">
      <%= text_field_tag :cpf_cnpj, nil, class: 'input-xlarge', maxlength: 255 %>
    </div>
  </div>

  <div class="field control-group">
    <%= label_tag :numero_nf, 'Número NF', class: 'control-label' %>
    <div class="controls">
      <%= text_field_tag :numero_nf, nil, class: 'input-xlarge', maxlength: 255 %>
    </div>
  </div>

  <div class="actions form-actions">
    <%= f.submit 'Salvar', class: 'btn btn-inverse', data: { disable_with: 'Salvando...' } %>
    <% if current_user.permitted_to?(:auditorias, :index) %>
      <%= link_to 'Cancelar', [:entidade, :auditorias], class: 'btn' %>
    <% end %>
  </div>
<% end %>
