<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">

      <ul class="nav">
        <% if current_user.permitted_to?(:usuarios, :index) &&
              current_user.permitted_to?(:checklists, :index) %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-th-large icon-white"></i>
              Cadastros
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.permitted_to?(:usuarios, :index) %>
                <li><%= link_to 'Usuários', [:entidade, :usuarios] %></li>
              <% end %>
              <% if current_user.permitted_to?(:checklists, :index) %>
                <li><%= link_to 'Checklists', [:entidade, :checklists] %></li>
              <% end %>
            </ul>
          </li>
        <% end %>

        <% if current_user.permitted_to?(:auditorias, :index) %>
          <li>
            <%= link_to [:entidade, :auditorias] do %>
              <i class="icon-th-list icon-white"></i> Pesquisas
            <% end %>
          </li>
        <% end %>
        <% if current_user.permitted_to?(:auditorias, :new) %>
          <li>
            <%= link_to [:new, :entidade, :auditoria] do %>
              <i class="icon-check icon-white"></i> Liberar Pesquisa
            <% end %>
          </li>
        <% end %>
        <% if current_user.permitted_to?(:auditorias, :iniciar_pesquisa) %>
          <li>
            <%= link_to [:iniciar_pesquisa, :entidade, :auditorias] do %>
              <i class="icon-play icon-white"></i> Iniciar Pesquisa
            <% end %>
          </li>
        <% end %>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-list-alt icon-white"></i>
            Relatórios
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% if current_user.permitted_to?(:relatorios, :relatorio_acoes) %>
              <li><%= link_to 'Ações', [:entidade, :relatorios] %></li>
            <% end %>
            <% if current_user.permitted_to?(:relatorios, :pesquisas_respondidas) %>
              <li><%= link_to 'Pesquisas Consolidadas', [:pesquisas_respondidas, :entidade, :relatorios] %></li>
            <% end %>
          </ul>
        </li>  

      </ul>
    </div>
  </div>
</div>
