<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.ico' %>
    <title><%= content_for?(:title) ? yield(:title) : 'Panambra' %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'maskedinput' %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>

  <body>
    <div id="logo" class="container">
      <%#= link_to image_tag('logo_chillibeans.png'), [:root], class: 'brand' %>
      <div class="btn-group dropdown">
        <a href="#" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
          <i class="icon-user icon-white"></i> Login
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu pull-right">
          <div id="user_nav">
            <% if usuario_logado? %>
              <div>
                <strong>Logado como</strong>
                <li class="nav-header"><%= current_user.email %></li>
                <br />
                <% if current_unidade.present? %>
                  <strong>Unidade</strong>
                  <li class="nav-header">
                    <%= current_unidade.nome %>
                    <% if current_user.tipo == Usuario::ADMINISTRADOR_ENTIDADE %>
                      <%= link_to 'Sair da Unidade', [:sair_unidade, :entidade, :administracao, :unidades] if current_unidade.present?%>
                    <% end %>
                  </li>
                <% end %>
                <li class="divider"></li>
                <li>
                  <% if current_user.tipo == Usuario::ADMINISTRADOR_ENTIDADE %>
                    <%= link_to 'Alterar Unidade', [:escolher_unidade, :entidade, :administracao, :unidades], class: 'btn btn-inverse' if current_unidade.present? %>
                  <% end %>
                  <%= link_to 'Sair', destroy_administracao_usuario_session_path, method: :delete, class: 'btn btn-danger' %>
                </li>
              </div>
            <% else %>
              <%= link_to 'Entrar', [:administracao, :usuario, :session], class: 'btn btn-inverse' %>
            <% end %>
          </div>
          <br clear="both" />
        </ul>
      </div>
    </div>

    <div class="container">
      <% if usuario_logado? %>
        <%= render carrega_partial_menu %>
        <div id="flash_messages">
          <% if flash[:notice] %>
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= flash[:notice] %>
            </div>
          <% end %>

          <% if flash[:error] %>
            <div class="alert alert-error">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= flash[:error] %>
            </div>
          <% end %>

          <% if flash[:alert] %>
            <div class="alert">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= flash[:alert] %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div id="flash_messages">
          <% if flash[:error] %>
            <div class="alert alert-error">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= flash[:error] %>
            </div>
          <% end %>
        </div>
      <% end %>
      
      <%= yield %>
      <hr>

      <div class="footer">
        <p class="pull-right"><a href="#top">Voltar ao topo</a></p>
        <p>
          &copy; DevConnIT 2014.
          <a href="#">Política de privacidade</a> &middot;
          <a href="#">Termos de uso</a>
        </p>
      </div>
    </div>

  </body>
</html>
